@import "tailwindcss";


/* navbar  */
nav {
  margin-top: 25px;
}

.menulist ul{
    gap:50px;
}

.navop{
    gap:30px;
}
.navop .options{
    gap:30px;
}
.bottomsheet {
  z-index: 50; /* یا بالاتر */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {

  text-align: left;
  padding: 8px;
}




/* swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
 
  font-size: 18px;  



}



select {
  height: 40px; /* ارتفاع دلخواه */
  padding: 5px 10px; /* فاصله داخلی */
  font-size: 14px; /* اندازه فونت */
  line-height: normal; /* تنظیم فاصله بین خطوط */
  color: #3D3D3D;
  outline: none;
}


.active{
  border-bottom: 2px solid  #46A358 ;
  color: #46A358;
  font-weight: 600;
}

.activecategory{
    color: #46A358;
    
}
.notactive{
  color: #3D3D3D;
}


.divider{
  border-bottom: 1px solid #46a3595a;
  width: 100%;
}

.increase{
  border-radius: 100%;
  padding: 2px 10px;
}
.decrease{
  border-radius: 100%;
  padding: 2px 10px;
}